.parentMenuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
    font-weight: 600;
    color: slategray;
}